@import "fonts.css";

/* Style the header with a grey background and some padding */
header {
    overflow: hidden;
    position: fixed;
    height: 47px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #E9EDDE;
    color: #4D5061;
    padding: 20px 10px;
}

/* Style the header links */
.header a {
    font-family: Bangers; 
    letter-spacing: 1px;
    float: left;
    color: #4D5061;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.logo {
    font-family: Bangers; 
    color: #4D5061;
    font-size: 64px;
    letter-spacing: 2px;
    position: relative;
    top: -68px

}

/* Change the background color on mouse-over */
.header-right a:hover {
    background-color: #F1EF9A;
}

/* Style the active/current link*/
.header a.active {
    background-color: #E7E247;
    color: #3D3B30;
}

/* Float the link section to the right */
.header-right {
    float: right;
    position: relative;
    right: 2%;
    
}
