@import "fonts.css";
@import "header.css";
@import "media.css";

main {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    font-family: Merienda;
    font-weight: bold;
    color: #E5DFB9;
}

body {
    background-color: #4D5061;
    /* font-family: Merienda; */
}

a {
    text-decoration: none;
}

main.contacts div {
    text-align: center;
    color: #E7E247;
} 

main.contacts input {
    background-color: #F1EF9A;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 20%;
    font-family: Merienda;
    text-align: center;
} 

main.contacts textarea {
    background-color: #F1EF9A;
    border: none;
    border-radius: 5px;
    height: 50%;
    width: 40%;
    font-family: Merienda;
    text-align: center;
} 

main.contacts input:hover {
    background-color: #E7E247;
} 

main.contacts p {
    font-size: 150%;
}